@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: hsla(214, 42%, 43%, 0.881);
    overflow: hidden;
}

.bodyWrapper {
    display: flex;
    height: 53vw;
}

.navBar {
    background-color: #aa4b44c2;
    box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.28);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    color: #353535f4;
    letter-spacing: 1rem;
    line-height: 3rem;
    gap: 2rem;
}

.bodyRight {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: #aa4b44f4;
    border-style: solid;
    border-width: 1rem;
    border-radius: 0.5rem;
    padding: 50px;
    font-size: 15vw;
    box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.28);
}

.logo:hover {
    color: #aa4b44a2;
    cursor: pointer;
}

#lt {
    margin-bottom: 3rem;
    color: #202020f4;
    text-shadow: 0.1px 0.1px 80px white;
}

.navButton:hover {
    color: rgba(255, 255, 255, 0.84);
    cursor: pointer;
}

.navBarTop {
    background-color: #aa4b446d;
    padding-top: 2.5rem;
    box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.28);
}